<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    {% if messages %}
    <div id="error-messages" style="display: none;">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var errorMessages = document.getElementById('error-messages');
            if (errorMessages) {
                var messages = errorMessages.getElementsByTagName('p');
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i].textContent);
                }
            }
        });
    </script>
    {% endif %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Registrarse">
        </form>
        <br><br><br>
        <a href="{% url 'login' %}">Iniciar sesion</a>
        <br><br><br>
        <a href="{% url 'nuevo' %}">volver al index</a>
    </div>

</body>

</html>