{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Mi nuevo index</h1>

    <img src='{% static "myapp/bienvenidos.png" %}' />
    <br>
    <h3>#este es el viejo ver cursos sin log:</h3>
    <a href='{% url "cursos" %}'>Ver cursos</a>

    <h3>#este es el nuevo ver cursos con log:</h3>
    <h4>Debe ingresar al sistema para ver los cursos: </h4>
    <a href="{% url 'login' %}" style="font-size: 40pt;">Ingresar</a>
</body>

</html>